/* do not touch this page, it styles the home page */
.project-card {
  position: static;
  border-color: #3E2818;
  border-style: solid;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: #906E49;
  }

  
  .project-card img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
  }